.button {
  background: #036590;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  margin: 7px;

  &:hover {
    transition: all 0.25s;
    filter: brightness(1.3) drop-shadow(3px 3px 2px #949494);
  }
}
