body {
  font-family: sans-serif;
}

%center {
  text-align: center;
}

.home {
  @extend %center;
  margin-top: 150px;
}

.greeting {
  font-size: 70px;
}

.etc {
  @extend %center;
}

.btn_github {
  background: #7b53a0;
}

.btn_nature {
  background: #41a39a;
}

.nature {
  margin-top: 20px;
}

.natureDiv {
  @extend %center;
}
